# DATABASE_URL="postgres://user:pass@localhost:5432/rpc"
# API_HOST="127.0.0.1"
# API_PORT=8080
# HELIUS_RPC=""
# ALCHEMY_RPC=""
# KEYPAIR_PATH="~/.config/solana/id.json"
# PROBE_INTERVAL_SECS=30
# KAFKA_BROKERS="localhost:9092"
# REDIS_URL="redis://127.0.0.1:6379"

# # Geyser Consumer specific
# GRPC_ENDPOINT=""
# X_TOKEN=""
# PAYER_PUBKEY="5GHnVhqZ6Yn8mQmM43CwMRTNWZofeyExMkP6PDGCAc9d"
